@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box
}   

.titulo-d {
    color: #22D4FD;
}

.html-destaque {

    color: #f06529;
}

.CSS-destaque {
    color: #22D4FD;
}

.java-destaque {
    color: #F0DB4F;
}

.container {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cont {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;   
}

.container__titulo {
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}

.container__font {
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
}

.links {
    display: flex;
    justify-content: space-between;

}

.links1 {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color:#000000;
    font-family:'Montserrat', sans-serif;
}

.links2 {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #000000;
    font-family:'Montserrat', sans-serif;
}

.img {
    width: 400px;
    height: 530px;
    background: url(IMG2.jpg);
    border-radius: 10px;
}

.teste {
box-sizing: border-box;

position: absolute;
width: 408px;
height: 537px;
left: 1052px;
top: 235px;

border: 3px solid #22D4FD;
border-radius: 16px;
}