@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    /* height: 100vh; */
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box
}   

.titulo-d {
    color: #22D4FD;
}

.html-destaque {

    color: #f06529;
}

.CSS-destaque {
    color: #22D4FD;
}

.java-destaque {
    color: #F0DB4F;
}

.container {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cont {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;   
}

.container__titulo {
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}

.cabecalho{
padding: 2% 0% 0% 15%;

}

.cabecalho_nav{
    display: flex;
    gap: 80px;
}

.home{
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #22D4FD;
    text-decoration: none;
}

.sobre{
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #22D4FD;
    text-decoration: none;
}

.container__font {
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
}

.redes {
    font-family: 'Krona one', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links1 {
    width: 378px;
    text-align: center;
    gap: 16px;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #f6f6f6;;
    font-family:'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
    text-decoration: none;
}

.links2 {
    width: 378px;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
    text-decoration: none;
}

.links3 {
    width: 378px;
    text-align: center;
    gap: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
    text-decoration: none;
}

.links4 {
    width: 378px;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
    border: 2px solid #22D4FD;
    text-decoration: none;
}

.links1:hover {
background-color: #272727;
}

.links2:hover {
    background-color: #272727;
}

.links3:hover {
    background-color: #272727;
}

.links4:hover {
    background-color: #272727;
}

.img {
    width: 400px;
    height: 530px;
    background: url(IMG2.jpg);
    border-radius: 10px;
}

.teste {
box-sizing: border-box;

position: absolute;
width: 408px;
height: 537px;
left: 1052px;
top: 235px;
align-items: center;
border: 3px solid #22D4FD;
border-radius: 16px;
}

.rodape{
    color: #000000;
    background-color: #22D4FD;
    padding: 1px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 400px;
}

