@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-quarta: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    /* height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box
}   

.titulo-d {
    color: var(--cor-terciaria);
}

.html-destaque {

    color: #f06529;
}

.CSS-destaque {
    color: var(--cor-terciaria);
}

.java-destaque {
    color: #F0DB4F;
}

.container {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cont {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;   
}

.container__titulo {
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}

.cabecalho{
padding: 2% 0% 0% 15%;

}

.cabecalho_nav{
    display: flex;
    gap: 80px;
}

.home{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.curriculo{
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #22D4FD;
    text-decoration: none;
}

.sobre{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
    border: 3px solid #0000;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    
}

.container__font {
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
}

.redes {
    font-family: 'Krona one', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links1 {
    width: 378px;
    text-align: center;
    gap: 16px;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family:'Montserrat', sans-serif;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
}

.links2 {
    width: 378px;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family:'Montserrat', sans-serif;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
}

.links3 {
    width: 378px;
    text-align: center;
    gap: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family:'Montserrat', sans-serif;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
}

.links4 {
    width: 378px;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family:'Montserrat', sans-serif;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
}

.links1:hover {
background-color:var(--cor-quarta); 
}

.links2:hover {
    background-color:var(--cor-quarta);
}

.links3:hover {
    background-color:var(--cor-quarta); 
}

.links4:hover {
    background-color:var(--cor-quarta); 
}

.img {
    width: 400px;
    height: 530px;
    background: url(IMG2.jpg);
    border-radius: 10px;
}

.teste {
box-sizing: border-box;

position: absolute;
width: 408px;
height: 537px;
left: 1052px;
top: 235px;
align-items: center;
border: 3px solid #22D4FD;
border-radius: 16px;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 400px;
}


.vector {

position: absolute;
width: 406.5px;
height: 193.91px;
left: 1457.5px;
top: 560.5px;

border: 3px solid #22D4FD;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.star{

position: absolute;
width: 54.11px;
height: 66.88px;
left: 1492.11px;
top: 519px;

background: #22D4FD;
transform: matrix(-1, 0, 0, 1, 0, 0);
}